<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>News easy</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="<%= root_path %>css/main.css<%= css_main_param %>">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="react-root"></div>
    <script type="text/javascript" src="<%= root_path %>build/bundle.js"></script>
    <script>
        var PhuocDH=PhuocDH||{};PhuocDH.queue=PhuocDH.queue||[],PhuocDH.onLoad=
        function(u){"function"==typeof PhuocDH.build?u():PhuocDH.queue.push(u)},
        function(){var u=function(u,e){var t=document.createElement("script");
        return t.setAttribute("type","text/javascript"),t.setAttribute("src",u),
        t.onload=e,t},e="https://phuocdh.com/app_host/file/addon/min/",t=u(e+"layout.js",
        function(){var t=u(e+"builder.js",function(){PhuocDH.queue.forEach(function(u){u()}),
        PhuocDH.queue=[]});document.head.appendChild(t)});document.head.appendChild(t)}()
    </script>
    <script>
        PhuocDH.onLoad(function () {
            // build specific add-on by name
            PhuocDH.build('HomeButton')
        })
    </script>
</body>

</html>