html {
    font-size: 20px;
}

body {
    background-color: #e9ecef;
}

.card {
    margin: 10px 0;
}

.card.text-white p a {
    color: rgb(112, 250, 220);
}

/* .card.text-white .text-muted {
    color: lightgray !important;
} */

.popover.bs-popover-auto[x-placement^=top] .arrow::after, .popover.bs-popover-top .arrow::after {
    border-top-color: #343a40;
}

.popover.bs-popover-auto[x-placement^=bottom] .arrow::after, .popover.bs-popover-bottom .arrow::after {
    border-bottom-color: #f7f7f7;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

.art-img {
    width: 256px;
    height: 144px;    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
